.states-field {
  margin-top: 40px;
}

.state-box {
  display: flex;
  flex-direction: row;
  min-width: 500px;
  background-color: #ddd;
  margin-top: 5px;
}

.strength-box {
  background-color: #c1e5c4;
}

.vitality-box {
  background-color: #dbb6b3;
}
.intelligence-box {
  background-color: #9ebbd3;
}
.spiritual-power-box {
  background-color: #e5d0f3;
}

.state {
  text-align: right;
  line-height: 20px;
}

.stregth {
  width: 1.02px;
  background-color: #4caf50;
}
.vitality {
  width: 0.95px;
  background-color: #f44336;
}
.intelligence {
  width: 0.97px;
  background-color: #2196f3;
}
.spiritual-power {
  width: 0.87px;
  background-color: #6a199f;
}
.userStrengthState,
.userVitalityState,
.userIntelligenceState,
.userSpiritualPowerState {
  margin-left: 4px;
}

@media screen and (min-width: 360px) and (max-width: 649px) {
  .state-box {
    min-width: 350px;
  }

  .states-field {
    margin-top: 15px;
  }
}

@media screen and (min-width: 650px) and (max-width: 669px) {
  .state-box {
    min-width: 280px;
  }
  .states-field {
    margin-top: 15px;
  }
}

@media screen and (min-width: 670px) and (max-width: 849px) {
  .state-box {
    min-width: 300px;
  }
  .states-field {
    margin-top: 15px;
  }
}

@media screen and (min-width: 850px) and (max-width: 1200px) {
  .state-box {
    min-width: 350px;
  }
}
