.avatar__box {
  padding-top: 0;
  min-width: 450px;
}

.avatar__img {
  display: block;
  width: 240px;
  height: 320px;
}

.user__info-box {
  margin-top: 15px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.user__data {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  align-items: center;
}

.user__data_span {
  color: #1833aa;
  font-weight: bold;
}

.user-states-box {
  margin-top: 15px;
}

@media screen and (min-width: 360px) and (max-width: 649px) {
  .user__info-box {
    flex-direction: column;
  }

  .user__name,
  .user__rate,
  .user__level {
    font-weight: bold;
  }
}

@media screen and (min-width: 650px) and (max-width: 849px) {
  .avatar__box {
    min-width: 300px;
  }
  .user__name,
  .user__rate,
  .user__level {
    font-weight: bold;
  }
  .user__info-box {
    justify-content: space-around;
  }
  .user__name {
    width: 100px;
  }
}

@media screen and (min-width: 850px) and (max-width: 1200px) {
  .avatar__box {
    min-width: 350px;
  }
}
