* {
  box-sizing: border-box;
}
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
ul {
  padding: 0;
}

li {
  list-style: none;
}

.container {
  width: 100%;
  padding: 50px;
  margin: auto;

  text-align: center;
  outline: 1px solid #000;
  background: linear-gradient(to right, white, grey);
}

.top-side {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/* /////////////////// QUESTS ///////////////////// */

.quests__box {
  min-width: 450px;
  padding: 15px;
  outline: 1px solid #000;
  background-color: #fff4cc;
}

.quests__box-title {
  font-weight: bold;
}
