* {
  box-sizing: border-box;
}
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
ul {
  padding: 0;
}

li {
  list-style: none;
}

.container {
  width: 100%;
  padding: 50px 100px;
  margin: auto;

  text-align: center;
  outline: 1px solid #000;
  background: linear-gradient(to right, white, grey);
}

.top-side {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/* /////////////////// QUESTS ///////////////////// */

.quests__box-title {
  font-weight: bold;
}

@media screen and (min-width: 360px) and (max-width: 649px) {
  .container {
    width: auto;
    padding: 25px 5px 20px;
  }

  .top-side {
    flex-wrap: wrap;
  }
}
