* {
  box-sizing: border-box;
}
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
ul {
  padding: 0;
}

li {
  list-style: none;
}

.container {
  width: 1200px;
  padding: 20px;
  margin: auto;

  text-align: center;
  outline: 1px solid #000;
}

.top-side {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/* /////////////////// AVATAR ///////////////////// */
.avatar__box {
  width: 450px;
}

.avatar__img {
  display: block;
  width: 240px;
  height: 320px;
}

.user__info-box {
  margin-top: 15px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.user__data {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  align-items: center;
}

.user__data_span {
  color: #1833aa;
  font-weight: bold;
}

.user-states-box {
  margin-top: 15px;
}

/* /////////////////// QUESTS ///////////////////// */

.quests__box {
  min-width: 450px;
  padding: 15px;
  outline: 1px solid #000;
  background-color: #fff4cc;
}

.quests__box-title {
  font-weight: bold;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */ ;
